<?xml version="1.0"?>
<MusiC version="1.0">
	
	<MusiC-Alias name="Hamming" class="MusiC.Extensions.Windows.HammingU"/>
	<MusiC-Alias name="RollOff" class="MusiC.Extensions.Features.SpecRollOffU"/>
	<MusiC-Alias name="Barbedo" class="MusiC.Extensions.Classifiers.Barbedo"/>

	<MusiC-Train dir="../data">
		<Label name="classical" />
		<Label name="electronic" />
	</MusiC-Train>
	
	<MusiC-Classify dir="../data/classical"/>
 
	<MusiC-Algorithm>
		
		<Hamming>
			<Param name="Size" value="1024" class="System.Int32"/>
			<Param name="Overlap" value="512" class="System.Int32"/>
		</Hamming>

		<MusiC-Extension class="MusiC.Extensions.Features.SpectralFlux"/>

		<RollOff/>

		<Barbedo/>
		
	</MusiC-Algorithm>
</MusiC>
