<?xml version="1.0"?>
<MusiC version="1.0">
	
	<MusiC-Handler name="WavHandler" class="MCModule.FileHandlers.WavHandler" pattern=".*[.]wav$"/>
	
	<MusiC-Alias name="Hamming" class="MusiC.Extensions.Windows.Hamming"/>
	<MusiC-Alias name="RollOff" class="MusiC.Extensions.Features.SpecRollOff"/>
	<MusiC-Alias name="Barbedo" class="MusiC.Extensions.Classifiers.Barbedo"/>
	
	<MusiC-Train dir="/Users/mjsmagalhaes/projeto_final/data">
		<Label name="classical" input="/Users/mjsmagalhaes/projeto_final/data/classical"/>
		<Label name="electronic" output="/Users/mjsmagalhaes/projeto_final/data/classical"/>
	</MusiC-Train>
	
	<MusiC-Classify dir="/Users/mjsmagalhaes/projeto_final/data/classical"/>
 
	<MusiC-Algorithm>
		
		<Hamming>
			<Param name="Size" value="1024" class="System.Int32"/>
			<Param name="Overlap" value="512" class="System.Int32"/>
		</Hamming>

		<RollOff/>

		<Barbedo/>
		
	</MusiC-Algorithm>
</MusiC>
